body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #4299d8;
  padding: 15px;
  height: 80px;
  line-height: 80px;
}

.logo {
  width: 150px;
  height: auto;
}
.logo.login {
  width: 100px;
}
.logo.header {
  width: 50px;
}

.section {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
}
.section .list {
  text-align: left;
}
.section .list h2 {
  font-size: 25px;
}
.section .list li {
  position: relative;
  padding: 20px;
  border-radius: 0px;
  border-bottom: 1px solid #cccccc;
  transition: all 300ms ease;
}
.section .list li a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}
.section .list li h3 {
  font-size: 20px !important;
}
.section .list li p {
  margin-top: 10px;
  font-size: 14px !important;
  color: #666666;
  transition: all 300ms ease;
}
.section .list li .repliesNotify {
  position: absolute;
  left: -15px;
  top: 15px;
  color: white;
  background-color: #00c84f;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 300ms ease;
}
.section .list li:hover {
  background-color: #4299d8;
  border-radius: 5px;
  border-bottom: none;
}
.section .list li:hover a, .section .list li:hover p {
  color: white;
}
.section .list li:hover .repliesNotify {
  background-color: #006e2b;
}
.section.main {
  background-color: rgba(6, 90, 39, 0.4);
}
.section.main .subscribe {
  width: 500px;
  margin: 20px auto;
  color: white;
}
.section.main .subscribe input[type=text] {
  padding: 9px;
  border-radius: 3px;
  border: none;
  width: 100%;
  margin-top: 15px;
  border: 1px solid white;
  font-family: "Montserrat", sans-serif;
  transition: all 300ms ease;
}
.section.main .subscribe input[type=text]:focus, .section.main .subscribe input[type=text]:active {
  outline: 0;
  border: 1px solid #00c84f;
}
.section .logo {
  margin-top: 100px;
}
.section .logo.login {
  margin-top: 40px;
}
.section .title {
  font-size: 40px;
  margin-bottom: 10px;
}
.section .subtitle {
  font-size: 20px;
}

.parallax {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.parallax.main {
  background-image: url(/static/images/main.jpg);
}
.parallax.sep-1 {
  background-image: url(/static/images/parallax1.jpg);
}
.parallax.separator {
  background-size: initial;
  height: 300px;
}

.light {
  color: white;
}

.login-form {
  width: 400px;
  margin: 15px auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

label {
  display: block;
}

label input {
  padding: 9px;
  border-radius: 3px;
  border: none;
  width: 350px;
  margin: 15px 0;
  border: 1px solid #cccccc;
  font-family: "Montserrat", sans-serif;
  transition: all 300ms ease;
}
label input:focus, label input:active {
  outline: 0;
  border: 1px solid #00c84f;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #00c84f;
  border: none;
  color: white;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
}
button:hover {
  background-color: #006e2b;
}
button:focus {
  outline: 0;
}
button.signUp {
  background-color: #4299d8;
}
button.signUp:hover {
  background-color: #2c6b99;
}
