<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} UrgentCode {% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/libs.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	{% block body %}

	{% endblock %}

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.smoothwheel.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>
